<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>MATH</title>
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">
	<link rel="import" href="http://www.polymer-project.org/components/core-toolbar/core-toolbar.html">
	<link rel="import" href="http://www.polymer-project.org/components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="http://www.polymer-project.org/components/paper-tabs/paper-tabs.html">

	<link href="http://www.polymer-project.org/components/paper-button/paper-button.html" rel="import">

	<link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html">
</head>
<body ng-controller="controller">

	<core-toolbar class="medium-tall header">
  
	    <div flex>Math Solver</div>
	    <paper-icon-button icon="more-vert"></paper-icon-button>
	    
	    <div class="bottom fit header-tabs" horizontal layout>
	    
	      <paper-tabs selected="0" flex style="max-width: 600px;">
	    
	        <paper-tab>APPLICATION</paper-tab>
	        <paper-tab>SOURCE CODE</paper-tab>
	        <paper-tab>ABOUT</paper-tab>
	        
	      </paper-tabs>
	      
	    </div>
  
  	</core-toolbar>

	<div class="content-area">
	
		<material-card class="main-material-card">

		<div id="resultink"></div>

			<div class="main-input-container">

				<div class="material-input-group-theme-light material-input-group main-input">
	                <label for="i6">Your math problem</label>
	                <input class="main-input-actual" id="i6" type="text" ng-model="expression">

	            </div>

			</div>

	        <paper-button ng-click="clear()" raisedButton class="clear-button colored" label="Clear"></paper-button>
	    </material-card>

	    <material-card class="answer-material-card">
	    	<div class="answer-left">
		    	<span class="output-before">Answer:</span>
		    	<span class="output" ng-bind="expression | math"></span>
		   	</div>
		   	<div class="answer-right">
		   		<paper-button ng-click="copy()" class="copy-button" label="Copy"></paper-button>
		   	</div>

		   	<div class="clearfix"/>
	    </material-card>

    </div>
	
	<script type="text/javascript" src="big-ass-angular-and-polymer.js"></script>

	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="material-js.js"></script>

</body>
</html>